/*Espacio configuraciones generales*/
@font-face{font-family: Hacker; src: url('../Hacker Regular.ttf');}

*{
    font-family: Hacker;
}

.toNewGame, .saveWordButton,.alphaButton,.restartGame{
    background: #0A3871;
    color: white;
    text-align: center;
    text-decoration: none;
    border-color: #0A3871;
}

.toNewWord, .fromSWtoMM,.returnToMainMenu{
    background: #f3f3fb;
    color:#0A3871;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-color: #0A3871;
}

.logoImg{
    height: 5%;
    width: 5%;
}

.addwordspace{
font-family: 'Hacker';
font-style: normal;
font-weight: 400;
color: #0A3871;
background-color:#f3f3fb;
border: none;
outline: none;
resize: none;
}

body{
background:#f3f3fb;
font-family: 'Hacker';
font-style: normal;
font-weight: 400;
color: #0A3871;
}

.canvasSpace{
    border:5px solid #0A3871 ;
    font-smooth: never;
    -webkit-font-smoothing : none;
}

/*Espacio configuraciones PC GRANDE*/
@media only screen and (min-width: 1200px)  {
    .toNewGame{
        width: 25%;
        height: 15%;
        border-radius: 24px;
        padding: 5%,30%;
        display: inline-block;
        font-size: 150%;
        position: absolute;
        top:48%;
        left:20%;
    }
    h1{
        position: absolute;
        top:20%;
        left:20%;
        font-size: 200%;
        text-align: center;
    }
    
    h2{
        position: absolute;
        top:25%;
        left:25%;
        font-size: 150%;
        line-height: 150%;
        text-align: center;
    }
    .titleGame{
        top:10%;
        left:5%;
    }
    
    .returnToMainMenu{
        position: absolute;
        top:62%;
        left: 8%;
        width: 45%;
        height: 5%;
        border-radius: 5%;
        padding: 5%,30%;
        display: inline-block;
        font-size: 150%;
    }
    
    .restartGame{
        position: absolute;
        top:55%;
        left:18%;
        width: 25%;
        height: 5%;
        border-radius: 24px;
        padding: 5%,30%;
        display: inline-block;
        font-size: 150%;
    }

    .canvasSpace{
        position: absolute;
        top:25%;
        left:5%;
        width: 50%;
    }

    .addtitle{
        left:5%;
        top:10%;
        font-size: 200%;
    }
    .addsubtitle{
        left:5%;
        top:15%;
        font-size: 180%;
    }

    .addwordspace{
        position: absolute;
        font-size: 240%;
        left:15%;
        top:35%;
    }


    .toNewWord{
        width: 25%;
        height: 15%;
        border-radius: 24px;
        padding: 5%,30%;
        display: inline-block;
        font-size: 150%;
        position: absolute;
        top:48%;
        left:50%;
    }

    .saveWordButton{
        width: 25%;
        height: 15%;
        border-radius: 24px;
        padding: 5%,30%;
        display: inline-block;
        font-size: 200%;
        position: absolute;
        top:50%;
        left:15%;
    }

    .fromSWtoMM{
        width: 38%;
        height: 15%;
        border-radius: 24px;
        padding: 5%,30%;
        display: inline-block;
        font-size: 200%;
        position: absolute;
        top:50%;
        left:45%;
    }

    .alphaButtonContainer{
        position: absolute;
        top: 25%;
        left: 60%;
    }

    .alphaButton{
        width: 100%;
        height: 50%;
        border-radius: 8%;
        padding: 5%,30%;
        display: inline-block;
        font-size: 350%;
    }

    .zContainer{
        position: absolute;
        top:100%;
        left:41%;
    }
}

/*Espacio configuraciones PC PEQUEÑO-TABLET*/

@media only screen and (max-width: 1199px){
    
    .titleGame{
        top:5%;
        left:5%;
        font-size: 120%;
    }

    .canvasSpace{
        position: absolute;
        top:15%;
        left:5%;
        width: 80%;
        height: 40%;
    }
   
    .alphaButtonContainer{
        position: absolute;
        top: 58%;
        left: 15%;
        width: 60%;
    }

    .alphaButton{
        width: 100%;
        height: 50%;
        border-radius: 8%;
        padding: 5%,30%;
        display: inline-block;
        font-size: 200%;
    }

    .zContainer{
        width: 20%;
        height: 38%;
        border-radius: 8%;
        position: absolute;
        top:100%;
        left:40%;
    }
    
    .restartGame{
        position: absolute;
        top:35%;
        left:18%;
        width: 60%;
        height: 5%;
        border-radius: 5%;
        padding: 5%,30%;
        display: inline-block;
        font-size: 150%;
    }

    .returnToMainMenu{
        position: absolute;
        top:42%;
        left: 18%;
        width: 60%;
        height: 10%;
        border-radius: 5%;
        padding: 5%,30%;
        display: inline-block;
        font-size: 150%;
    }
     
    h1{
        position: absolute;
        top:20%;
        left:2%;
        font-size: 150%;
        text-align: center;

    }
    
    h2{
        position: absolute;
        top:30%;
        left:2%;
        width: fit-content;
        font-size: 150%;
        line-height: 120%;
        text-align: center;
    }

    .toNewGame{
        width: 50%;
        height: 10%;
        border-radius: 5%;
        padding: 5%,30%;
        display: inline-block;
        font-size: 150%;
        position: absolute;
        top:50%;
        left:25%;
    }

    .toNewWord{
        width: 50%;
        height: 20%;
        border-radius: 5%;
        padding: 5%,30%;
        display: inline-block;
        font-size: 150%;
        position: absolute;
        top:63%;
        left:25%;
    }

    .addtitle{
        left:5%;
        top:10%;
        font-size: 180%;
    }
    .addsubtitle{
        left:5%;
        top:20%;
        font-size: 150%;
        text-align: left;
    }
    
    .addwordspace{
        position: absolute;
        font-size: 120%;
        left:5%;
        top:40%;
    }

    .saveWordButton{
        width: 50%;
        height: 10%;
        border-radius: 5%;
        padding: 5%,30%;
        display: inline-block;
        font-size: 150%;
        position: absolute;
        top:50%;
        left:15%;
    }

    .fromSWtoMM{
        width: 62%;
        height: 10%;
        border-radius: 5%;
        padding: 5%,30%;
        display: inline-block;
        font-size: 150%;
        position: absolute;
        top:65%;
        left:15%;
    }

   
}
/*Espacio configuraciones Celular*/
@media only screen and (max-width: 600px){
 
    .titleGame{
        top:5%;
        left:5%;
        font-size: 120%;
    }

    .canvasSpace{
        position: absolute;
        top:15%;
        left:5%;
        width: 80%;
        height: 40%;
    }
   
    .alphaButtonContainer{
        position: absolute;
        top: 58%;
        left: 15%;
        width: 60%;
    }

    .alphaButton{
        width: 100%;
        height: 50%;
        border-radius: 8%;
        padding: 5%,30%;
        display: inline-block;
        font-size: 200%;
    }

    .zContainer{
        width: 20%;
        height: 38%;
        border-radius: 8%;
        position: absolute;
        top:100%;
        left:40%;
    }
    
    .restartGame{
        position: absolute;
        top:35%;
        left:18%;
        width: 60%;
        height: 5%;
        border-radius: 5%;
        padding: 5%,30%;
        display: inline-block;
        font-size: 80%;
    }

    .returnToMainMenu{
        position: absolute;
        top:42%;
        left: 18%;
        width: 60%;
        height: 10%;
        border-radius: 5%;
        padding: 5%,30%;
        display: inline-block;
        font-size: 80%;
    }
     
    h1{
        position: absolute;
        top:20%;
        left:2%;
        font-size: 150%;
        text-align: center;

    }
    
    h2{
        position: absolute;
        top:30%;
        left:2%;
        width: fit-content;
        font-size: 150%;
        line-height: 120%;
        text-align: center;
    }

    .toNewGame{
        width: 50%;
        height: 10%;
        border-radius: 5%;
        padding: 5%,30%;
        display: inline-block;
        font-size: 150%;
        position: absolute;
        top:50%;
        left:25%;
    }

    .toNewWord{
        width: 50%;
        height: 20%;
        border-radius: 5%;
        padding: 5%,30%;
        display: inline-block;
        font-size: 150%;
        position: absolute;
        top:63%;
        left:25%;
    }

    .addtitle{
        left:5%;
        top:10%;
        font-size: 180%;
    }
    .addsubtitle{
        left:5%;
        top:20%;
        font-size: 150%;
        text-align: left;
    }
    
    .addwordspace{
        position: absolute;
        font-size: 120%;
        left:5%;
        top:40%;
    }

    .saveWordButton{
        width: 50%;
        height: 10%;
        border-radius: 5%;
        padding: 5%,30%;
        display: inline-block;
        font-size: 150%;
        position: absolute;
        top:50%;
        left:15%;
    }

    .fromSWtoMM{
        width: 62%;
        height: 10%;
        border-radius: 5%;
        padding: 5%,30%;
        display: inline-block;
        font-size: 150%;
        position: absolute;
        top:65%;
        left:15%;
    }
    
}